body {
  font-family: 'Heebo', sans-serif;
  font-weight: 400 600;
  position: relative;
}

img {
  width:100%;
  max-width:auto !important;
}

.container {
    position: relative;

}

.margin-all{
  height:100vh;
  padding:0.6rem;
  margin:0 auto;
}


.box87 {
  background-color: #FFFFFF;
  z-index: 2;
  position:absolute;
  margin:0.6rem;
  height: 4%;
  width: 12%;
  display: flex;
  align-items: center
}

.text87 {
  text-align: center;
  margin:auto;
  top: 50%;
  transform: translate(0, -50%)
  position:absolute;
  z-index: 2;
}

.limmatplatz87 {
  background-image: url(../img/1987_ganz_schmaler.jpg);
  height:100%;
  background-size:cover;
  background-position: center;
  z-index: 1;
}

.box17 {
  background-color: #FFFFFF;
  z-index: 2;
  position:absolute;
  margin:0.6rem;
  height: 4%;
  width: 12%;
  display: flex;
  align-items: center
}

.text17 {
  text-align: center;
  margin:auto;
  top: 50%;
  transform: translate(0, -50%)
  position:absolute;
  z-index: 2;
}

.limmatplatz17 {
  background-image: url(../img/2017_ganz_schmaler.jpg);
  height:100%;
  background-size:cover;
  background-position: center;
  z-index: 1;
}

.margin-top {
  margin-top:30.5rem;
}

.padding-versatz {
  padding:1.25rem 0  0 0.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin:0;
  line-height:138%;
}

.nav {
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: 10;
  padding: 3rem 3rem 0 0;
  visibility: hidden;
}

/* nav links */
#nav a {
  float: right;
  display: block;
  text-align: center;
  text-decoration: underline;
}

.up-icon {
  width: 30px;
}

/* Page content
.content {
  padding: 16px;
}
 */

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.das-projekt {
  padding:1.75rem 0 0 2rem;
  text-decoration: underline;
  font-weight:600 !important;
  position:absolute;
}

/* .back-up {
margin:0;
padding:1.75rem 0 0 0;
width:4.25%;
float: right;
} */

.back-up {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  float: right;

}



.zahl-links {
padding:1.3rem 0 0 7.7rem
}

.title-mark {
  width:45%;
  margin:0 auto;
  padding:6rem 0 0 0;
}

.gutter-links {
  padding-right:0.5rem;
}

.zahl-rechts {
  padding:0 0 0 0.25rem;
}

.explore-text {
  margin: 0 auto;
  text-align: center;
  padding:3rem 0 0 0;
}

.explore-icon {
  margin:0 auto;
  padding:0.1rem 0 8rem 0;
  width:1%;
  animation-name: arrow;
  animation-duration: 2s;
  animation-delay: -2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* animated arrow icon */
@keyframes arrow {
    0%   {-webkit-transform: translate(0, 0);}
    20%  {-webkit-transform: translate(0, 7px);}
    40%  {-webkit-transform: translate(0, 0);}
}

.detail1-image17 {
  padding:1rem 0 0 0;

}

.detail1-image87 {
padding:1rem 0 0 0;
}

.detail1-text {
  padding:4rem 0 0 0;
}

h1 {
  font-size: 15.2rem;
  font-weight: 400;
  margin:0;
  line-height:78%;
  text-align: right;
}

.h1_knotenpunkt {
width:100%;
margin:auto;
padding:5rem 0 0 0;
}



.detail2-image17-small {
  padding:0 5rem 9rem 0;
}

h2 {
  font-size:3.6875rem;
  font-weight: 400;
  margin:0;
  text-align: left;
  line-height:104%;
}

.detail2-text-h2 {
  padding:3rem 3rem 0.4rem 0;
}

.detail2-text-h4 {
  padding:6rem 0 0 1.1rem;
}

.detail3-text-h2 {
  padding:13rem 0 1rem 5rem;
}

.detail3-text-h4 {
  padding:0 0 0 3.5rem;
}

.detail3-image87 {
  padding:1rem 0 0 1.5rem;
}

.detail4-text-h4 {
  padding:25rem 0 0 1rem;
  }

.detail4-text-h2 {
  padding:23rem 0 0 1rem;
}

.detail4-image87 {
  padding:10rem 0 0 0;
}

.detail4-image17 {
  padding:1rem 0 3rem 0;
}

.h1_limmaplatz {
  padding:0 0 0 0;
  margin:auto;
  width:100%;
}

.detail5-image87-auto {
  padding:23rem 0 0 1.1rem;
}

.detail5-image17-auto {
  padding:29rem 0 0 1.1rem;
  z-index: 3;
}

.detail5-text-h2 {
  padding:3rem 0 0 0;
}

.detail5-text-h4 {
  padding:1rem 0 0 1rem;
}

.detail5-image87-bus {
  padding:8rem 0 0 0;
}

.detail5-image17-bus {
  padding:1rem 0 10rem 0;
}

h3 {
  font-size: 1.8125rem;
  font-weight: 400;
  margin:0;
  line-height:117%;
}

.detail6-text-h3 {
  padding:8rem 0 0 0;
}

.detail6-image87 {
    padding:1rem 0 0 1rem;
}

.detail6-image17 {
  padding:2rem 0 0 1rem;
}

.autorenzeile {
  padding:0.5rem 0 0 0;

}

.detail6-text-h4 {
  padding:8rem 0 0 1rem;
}


/*Links*/

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
  text-decoration: underline;
}



/*über das Projekt*/
.explore-more {
  padding:10rem 0 0 0;
  margin:0;
}


.explore-more-text {
  margin: 0 auto;
  text-align: center;
  padding:3rem 0 0 0;
}

.more-icon {
  margin:0 auto;
  padding:0.1rem 0 5rem 0;
  width:1%;
  animation-name: arrow;
  animation-duration: 2s;
  animation-delay: -2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* animated arrow icon */
@keyframes arrow {
    0%   {-webkit-transform: translate(0, 0);}
    20%  {-webkit-transform: translate(0, 7px);}
    40%  {-webkit-transform: translate(0, 0);}
}


.title-mark-small {
  width:5%;
  margin:0 auto;
  padding:1rem 0 0 0;
}

.projekt-site-title {
  padding:22rem 4.5rem 2.9rem 0;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

.projekt-site-text {
  padding:8rem 0 0 0;
}

.projekt-site-quote{
  padding:21rem 1.5rem 0 3rem;
}

.quote-right {
  text-align:right;
}



/*making-of*/
.making-of-title {
  padding: 13rem 5rem 1rem 8rem;
}

.making-of-video {
  padding:0 0 8rem 0;
}

.making-of-text {
padding:2rem 0 0 5rem;
}
