body {
  font-family: 'Heebo', sans-serif;
  font-weight: 400 600;
  position: relative;
}


/* ------- Ueber transition all wird alles, was sich bei diesem Element ver채ndert animiert */
section img{
   -webkit-transition: all 2s linear;
    transition: all 2s linear;
}


.margin-all{
  /*width:100vw;*/
  height:100vh;
  padding:0.6rem;
  margin:0 auto;
}


.box87 {
  background-color: #FFFFFF;
  z-index: 2;
  position:fixed;
  margin:auto 0;
  height: 3rem;
  width: 19rem;
  align-items: center;
  top:50%;
  left:50%;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s; /* Firefox < 16 */
      -ms-animation: fadein 0.5s; /* Internet Explorer */
       -o-animation: fadein 0.5s; /* Opera < 12.1 */
          animation: fadein 0.5s;

          /*animation-delay*/
          -webkit-animation-delay:0.5s;
             -moz-animation-delay:0.5s;
              -ms-animation-delay:0.5s;
               -o-animation-delay:0.5s;
                  animation-delay:0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.text87 h4 {
  text-align: left;
  margin:auto;
  top: 50%;
  padding:0.85rem 0.5rem 0.85rem 0.5rem;
  z-index: 2;
  font-size:1.3rem;

}

.innertext {
  float:left;
  overflow:hidden !important;
  height: 90px;
  top: 40px;
  position:relative;
  font-weight: 600;
  font-size:1.3rem;
  }

.text87 .innertext {
  position: relative;
  display:inline-block;
  white-space: nowrap;
  top: 0;
  left: 0;
  padding:0 0 0 10.4rem;

  /*animation*/
  -webkit-animation:move 3s;
     -moz-animation:move 3s;
      -ms-animation:move 3s;
       -o-animation:move 3s;
          animation:move 3s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:3s;
     -moz-animation-delay:3s;
      -ms-animation-delay:3s;
       -o-animation-delay:3s;
          animation-delay:3s;
}

}
@keyframes move {
  0%  { top: -0px; }
  25% { top: -42px; }
  50% { top: -74px; }
  100% { top: -105px; }
}

@-webkit-keyframes move{
  0%  { top: -0px; }
  25% { top: -42px; }
  50% { top: -74px; }
  100% { top: -105px; }
}
@-moz-keyframes move {
  0%  { top: -0px; }
  25% { top: -42px; }
  50% { top: -74px; }
  100% { top: -105px; }
}
@-o-keyframes move{
  0%  { top: -0px; }
  25% { top: -42px; }
  50% { top: -74px; }
  100% { top: -105px; }
}


.limmatplatz87 {
  background-image: url(../img/1987_ganz_schmaler.jpg);
  height:100%;
  background-size:cover;
  background-position: center;
  z-index: 1;
}

.box17 {
  background-color: #FFFFFF;
  z-index: 2;
  position:absolute;
  margin:0.6rem;
  height: 2rem;
  width: 12%;
  display: flex;
  align-items: center
}

.text17 {
  text-align: center;
  margin:auto;
  top: 50%;
  transform: translate(0, -50%)
  position:absolute;
  z-index: 2;
}

.limmatplatz17 {
  background-image: url(../img/2017_ganz_schmaler.jpg);
  height:100%;
  background-size:cover;
  background-position: center;
  z-index: 1;
}

.margin-top {
  margin-top:30.5rem;
}

.padding-versatz {
  padding:1.25rem 0  0 0.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin:0;
  line-height:138%;
}

#nav {
  overflow: hidden;
  width: 100%;
  position: fixed;

  padding: 3rem 3rem 0 0;
  display: none;

}

/* nav links */
#nav a {
  float: right;
  display: block;
  text-align: center;
  text-decoration: underline;
}

.up-icon {
  width: 30px;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.das-projekt {
  padding:1.75rem 0 0 2rem;
  text-decoration: underline;
  font-weight:600 !important;
  position:absolute;
  z-index: 100;
}

.zahl-links {
padding:1.3rem 0 0 0;
text-align: right;
}

.title-mark {
  margin:0;
  padding:0 0 0 0;
}

.title-mark-route {
  padding:0 0 0 1.885rem;
  z-index: 2;
}

.title-mark-en {
  z-index: 1;
  padding: 0 0 0 0;

}

#home .title-mark-en{
    transform: translate(0px,55px);
}

#home .title-mark-route{
    transform: translate(0px,45px);
}

/* ------- Falls onScreen neuer Zustand Stil, hier kann irgendetwas ver채ndert werden

 */

 section.onScreen .title-mark-en{
     opacity:1;
 }

 #home.onScreen .title-mark-en{
     transform: translate(0px,30px);
     transition:2s;
 }

section.onScreen .title-mark-route{
    opacity:1;
}

#home.onScreen .title-mark-route{
    transform: translate(0px,70px);
    transition:2s;
}


.gutter-links {
  padding-right:0.5rem;
}

.zahl-rechts {
  padding:0 0 0 0.25rem;
}

.explore {
  cursor: pointer;
}

.explore-text {
  margin: 0 auto;
  text-align: center;
  padding:0 0 0 0;
}

.explore-icon {
  margin:0 auto;
  padding:0.1rem 0 0 0;
  width:1%;
  animation-name: arrow;
  animation-duration: 2s;
  animation-delay: -2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* animated arrow icon */
@keyframes arrow {
    0%   {-webkit-transform: translate(0, 0);}
    20%  {-webkit-transform: translate(0, 7px);}
    40%  {-webkit-transform: translate(0, 0);}
}

.detail1-image {
  padding:1rem 0 1rem 0;
}


.detail1-image17 {
  padding:1rem 0 0 0;
}


.detail1-text {
  padding:3rem 0 0 0;
}

h1 {
  font-size: 10rem!important;
  font-weight: 400!important;
  margin:0 auto!important;
}


.rellax {
    transition: transform 0.6s;
}


.h1_knotenpunkt {
width:100%;
margin:auto;
padding:12rem 0 0 0;
}



.detail2-image17-small {
  padding:0 5rem 9rem 0;
}

h2 {
  font-size:3.6875rem;
  font-weight: 400;
  margin:0;
  text-align: left;
  line-height:104%;
}

.detail2-text-h2 {
  padding:0 3rem 0.4rem 0;
}

.detail2-text-h4 {
  padding:0 0 0 1.1rem;
}

.detail3-text-h2 {
  padding:13rem 0 0.5rem 3rem;
}

.detail3-text-h4 {
  padding:0 0 0 3.5rem;
}

.detail3-image87 {
  padding:3rem 0 0 1.5rem;
}

.detail4-text-h4 {
  padding:10rem 0 0 1rem;
  }

.detail4-text-h2 {
  padding:30rem 0 0 1rem;
}

.detail4-image87 {
  padding:5rem 0 1rem 0;
}

.detail4-image17 {
  padding:1rem 0 0 0;
}


.h1_limmaplatz {
  padding:12rem 0 0 0;
  margin:auto;
  width:100%;
}

.detail5-image87-auto {
  padding:0 0 0 1.1rem;
}

.detail5-image17-auto {
  padding:0 0 0 1.1rem;
}

.detail5-text-h2 {
  padding:0 0 0 0;
}

.detail5-text-h4 {
  padding:1rem 0 0 1rem;
}

.detail5-image87-bus {
  padding:8rem 0 0 0;
}

.detail5-image17-bus {
  padding:1rem 0 10rem 0;
}

h3 {
  font-size: 1.8125rem;
  font-weight: 400;
  margin:0;
  line-height:117%;
}

.detail6-text-h3 {
  padding:8rem 0 0 0;
}

.detail6-image87 {
    padding:10rem 0 0 1rem;
}

.detail6-image17 {
  padding:11rem 0 0 1rem;
}

.autorenzeile {
  padding:0.5rem 0 0 0;

}

.detail6-text-h4 {
  padding:0 0 0 1rem;
}


/*Links*/

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
  text-decoration: underline;
}



/*체ber das Projekt*/
.explore-more {
  padding:10rem 0 0 0;
  margin:0;
}


.explore-more-text {
  margin: 0 auto;
  text-align: center;
  padding:3rem 0 0 0;
}

.more-icon {
  margin:0 auto;
  padding:0.1rem 0 5rem 0;
  width:1%;
  animation-name: arrow;
  animation-duration: 2s;
  animation-delay: -2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* animated arrow icon */
@keyframes arrow {
    0%   {-webkit-transform: translate(0, 0);}
    20%  {-webkit-transform: translate(0, 7px);}
    40%  {-webkit-transform: translate(0, 0);}
}


.projekt-site-title {
  padding:20rem 7.5rem 2.9rem 0;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

.projekt-site-text {
  padding:8rem 0 0 5rem;
}

.projekt-site-quote{
  padding:15rem 1.5rem 0 3rem;
}

.quote-right {
  text-align:right;
}



/*making-of*/
.making-of-title {
  padding: 0 5rem 0 11.5rem;
}

.making-of-video {
  padding:0 0 0 0;
}

.making-of-text {
padding:1rem 0 0 5rem;
}

.impressum-text {
padding:1rem 0 5rem 0;
}

.label {
  background-color: white;
  z-index: 2;
  position:fixed;
  margin:auto 0;
  height: 3rem;
  width: 14.4rem;
  align-items: center;
  top:49%;
  font-size: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}


/* define the animation */
	@-webkit-keyframes wechsel {
	  0%   { -webkit-transform: translate(0, 0); }
	  100% { -webkit-transform: translate(0, -50%); }
	}
    @keyframes wechsel {
	  0%   { -webkit-transform: translate(0, 0); }
	  100% { -webkit-transform: translate(0, -50%); }
	}



	/* define your limiting container */
	.wechsel {
	  white-space: nowrap;
	  overflow: hidden;
	  box-sizing: border-box;
    height: 48px;
    font-weight:600;
    padding:0.6rem 0 0 0.1rem;

	}

	/* this is the tray moving around your container */
	.wechsel span {
    animation-timing-function: ease;
    display: inline-block;
	  text-indent: 0;
	  animation: wechsel 0.3s linear forwards; /* here you select the animation */
      -webkit-animation: wechsel 0.3s linear forwards; /* here you select the animation */

      -webkit-animation-delay:0.1s;
         -moz-animation-delay:0.1s;
          -ms-animation-delay:0.1s;
           -o-animation-delay:0.1s;
              animation-delay:0.1s;
	}

video {
  width: 100%;
    height: 100%;
    padding: 0.6em;
    padding-bottom: 1em;

    top: 0;
    left: 0;
    object-fit: fill;
}


.videobox {

  overflow: hidden;
}



.embed-container {
  position: relative;
  padding-bottom: 56.25%; /* Hier Video-Dimension 체bertragen: 100%/B*H  */
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
