body {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}

img {
  width:100%;
  max-width:auto !important;
}

.margin-all{
  height:100vh;
  padding:0.6rem;
}

.limmatplatz87 {
  background-image: url(../img/1987_ganz.jpg);
  height:100%;
  background-size:cover;
  background-position: center;
}

.limmatplatz17 {
  background-image: url(../img/2017_ganz.jpg);
  height:100%;
  background-size:cover;
  background-position: center;
}

.margin-top {
  margin-top:30.5rem;
}

.margin-diagonal {
  margin-top:1.5rem;
}

h3 {
  font-size: 0.8125rem;
  font-weight: 400;
}

.zahl-links {
margin-left:4.6rem
/*margin-top:3rem;*/
}

.title-mark {
  width:50%;
  margin:0 auto;
}
